h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--base-font);
}

body.modal-open {
  overflow: hidden;
}

.hidden {
  display: none;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

img {
  width: 100%;
  height: auto;
  display: block;
  text-align: center;
}

.link {
  text-decoration: none;
}

.section {
  // outline: 1px solid red;
  padding-bottom: 80px;
  @media screen and (min-width: 768px) {
    padding-bottom: 65px;
  }
  @media screen and (min-width: 1400px) {
    padding-bottom: 180px;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
  // outline: 1px solid green;
  @media screen and (min-width: 768px) {
    width: 720px;
    padding: 0 15px;
  }
  @media screen and (min-width: 1400px) {
    width: 1378px;
    padding: 0 20px;
  }
}

.title {
  font-weight: 600;
  font-size: 24px;
  line-height: 3.33333;
  text-align: center;
  color: var(--base-title-color);
  @media screen and (min-width: 768px) {
    font-size: 30px;
    line-height: 267%;
    margin-bottom: 37px;
  }
  @media screen and (min-width: 1400px) {
    font-size: 48px;
    line-height: 1;
    margin-bottom: 60px;
  }
}

.btn {
  cursor: pointer;
  border: none;
  text-align: center;
  color: #fff;
  background: var(--base-dark);
}

.breaker::after {
  @media screen and (min-width: 768px) {
    content: '';
    display: block;
  }
  @media screen and (min-width: 1400px) {
  }
}
