h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--base-font);
}

body.modal-open {
  overflow: hidden;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
  outline: 1px solid green;

  @media screen and (min-width: 575px) {
    width: 575px;
    padding: 0 33px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
    padding: 0 40px;
  }
  @media screen and (min-width: 1200px) {
    width: 1378px;
    padding: 0 21px;
  }
}

.btn {
  cursor: pointer;
  border: none;
  text-align: center;
  color: #fff;
  background: var(--base-dark);
}
