:root {
  --base-font: 'Poppins', sans-serif;
  --menu-btn-color: #39515e;
  --base-title-color: #000;
  --base-text-color: #8f95a5;
  --second-logo-color: #939393;
  --base-dark: #263238;
  --base-gray: #f5f5f5;
  --second-price-color: #546269;
  --base-button-colot: #263238;
}
