<section class="section about" id="about">
  <div class="container">
    <h2 class="title mobile">About Us</h2>
    <picture>
      <source
        srcset="
          ./images/about/competition.png    1x,
          ./images/about/competition@2x.png 2x
        "
        media="(min-width: 1400px)"
      />
      <source
        srcset="
            ./images/about/competition768.png 1x,
            ./images/about/competition768@2x.png 2x'
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
            ./images/about/competition320.png 1x,
            ./images/about/competition320@2x.png 2x'
        "
      />
      <img
        src="./images/about/competition320@2x.png"
        alt="foto"
        class="image"
      />
    </picture>
    <div class="discription">
      <h2 class="title tablet">About Us</h2>
      <div class="text">
        The model offers a framework for discussing problems related to the
        user's experience, as well as possible ways and means of solving them.
        Application development begins at the top level (strategy), where the
        future software product is described quite abstractly from the point of
        view of the expectations of both users and the customer.
      </div>
      <ul class="info-quantity">
        <li class="item">
          <p class="quantity">800</p>
          <p class="name">Pupils</p>
        </li>
        <li class="item">
          <p class="quantity">18</p>
          <p class="name">Teachers</p>
        </li>
        <li class="item">
          <p class="quantity">6</p>
          <p class="name">Foreign languages</p>
        </li>
      </ul>
    </div>
  </div>
</section>
