<section class="contact">
  <div class="container">
    <picture>
      <source
        media="(min-resolution: 192dpi)"
        srcset="./images/contact/contact@2x.png 2x"
      />
      <img src="./images/contact/contact.png" alt="" height="425" width="430" />
    </picture>
    <h2>Contact Us</h2>
    <p>
      Discover your current English level by taking our free online English
      test. Sign up to our newsletter for learning tips and free resources
    </p>
    <form>
      <input type="email" placeholder="Enter Your E-mail" />
      <button type="submit">Subscribe</button>
    </form>
  </div>
</section>
