<header class="section">
  <div class="header container">
    <a class="logo" href="#">Britlex</a>
    <div class="header__menu">
      <nav>
        <ul class="header__menu-list">
          <li><a href="#">Home</a></li>
          <li><a href="#">Skills</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Pricing</a></li>
          <li><a href="#">Contacts</a></li>
        </ul>
      </nav>
      <button type="button">Let’s Talk</button>
    </div>
    <div class="burger-menu">
      <div class="burger-menu__element"></div>
      <div class="burger-menu__element"></div>
      <div class="burger-menu__element"></div>
    </div>
  </div>
</header>
