<section>
  <div class="container">
    <h2>Pricing</h2>
    <ul>
      <li>
        <picture>
          <source
            media="(min-resolution: 192dpi)"
            srcset="./images/pricing/online@2x.png 2x"
          />
          <img
            src="./images/pricing/online.png"
            alt=""
            width="426"
            height="320"
          />
        </picture>
        <h3>Self-study online course</h3>
        <p>
          Start learning English online in live classes with qualified EC
          teachers and students from all over the world.
        </p>
        <div>
          <p>£5.99</p>
          <p>per month</p>
        </div>
      </li>
      <li>
        <picture>
          <source
            media="(min-resolution: 192dpi)"
            srcset="./images/pricing/lesson@2x.png 2x"
          />
          <img
            src="./images/pricing/lesson.png"
            alt=""
            width="426"
            height="320"
          />
        </picture>
        <h3>Live online classes</h3>
        <p>Interactive group classes with expert teachers. Free 7-day trial</p>
        <div>
          <p>£12.99</p>
          <p>per month</p>
        </div>
      </li>
      <li>
        <picture>
          <source
            media="(min-resolution: 192dpi)"
            srcset="./images/pricing/webinar@2x.png 2x"
          />
          <img
            src="./images/pricing/webinar.png"
            alt=""
            width="426"
            height="320"
          />
        </picture>
        <h3>Personal Tuition</h3>
        <p>
          Online one-to-one English tutoring – enjoy our first session for only
          $1
        </p>
        <div>
          <p>£12.99</p>
          <p>per month</p>
        </div>
      </li>
    </ul>
  </div>
</section>
