<section class="pricing section">
  <div class="container">
    <h2 class="title">Pricing</h2>
    <ul class="list">
      <li class="item">
        <div class="pic">
          <picture>
            <source
              srcset="
                ./images/pricing/online.png    1x,
                ./images/pricing/online@2x.png 2x
              "
              media="(min-width: 1400px)"
            />
            <source
              srcset="
                ./images/pricing/online768.png    1x,
                ./images/pricing/online768@2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/pricing/online320.png    1x,
                ./images/pricing/online320@2x.png 2x
              "
            />
            <img
              src="./images/pricing/online320.png"
              alt="foto"
              class="image"
            />
          </picture>
        </div>
        <h3 class="sub-title">Self-study online course</h3>
        <p class="text">
          Start learning English online in live classes with qualified EC
          teachers and students from all over the world.
        </p>
        <div class="price-info">
          <p class="price">£5.99</p>
          <p class="period">per month</p>
        </div>
      </li>
      <li class="item">
        <picture>
          <source
            srcset="
              ./images/pricing/lesson.png    1x,
              ./images/pricing/lesson@2x.png 2x
            "
            media="(min-width: 1400px)"
          />
          <source
            srcset="
              ./images/pricing/lesson768.png    1x,
              ./images/pricing/lesson768@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/pricing/lesson320.png    1x,
              ./images/pricing/lesson320@2x.png 2x
            "
          />
          <img src="./images/pricing/lesson320.png" alt="foto" class="image" />
        </picture>
        <h3 class="sub-title">Live online classes</h3>
        <p class="text">
          Interactive group classes with expert teachers. Free 7-day trial
        </p>
        <div class="price-info">
          <p class="price">£12.99</p>
          <p class="period">per month</p>
        </div>
      </li>
      <li class="item">
        <picture>
          <source
            srcset="
              ./images/pricing/webinar.png    1x,
              ./images/pricing/webinar@2x.png 2x
            "
            media="(min-width: 1400px)"
          />
          <source
            srcset="
              ./images/pricing/webinar768.png    1x,
              ./images/pricing/webinar768@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/pricing/webinar320.png    1x,
              ./images/pricing/webinar320@2x.png 2x
            "
          />
          <img src="./images/pricing/webinar320.png" alt="foto" class="image" />
        </picture>
        <h3 class="sub-title">Personal Tuition</h3>
        <p class="text">
          Online one-to-one English tutoring – enjoy our first session for only
          $1
        </p>
        <div class="price-info">
          <p class="price">£20.99</p>
          <p class="period">per month</p>
        </div>
      </li>
    </ul>
  </div>
</section>
