<section class="skills section">
  <div class="container">
    <h2 class="title">Skills</h2>
    <ul class="skills-list">
      <li class="item">
        <picture>
          <source
            srcset="
              ./images/skills/shared.png    1x,
              ./images/skills/shared@2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/skills/shared768.png    1x,
              ./images/skills/shared768@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/skills/shared320.png    1x,
              ./images/skills/shared320@2x.png 2x
            "
          />
          <img src="./images/skills/shared320.png" alt="foto" class="image" />
        </picture>
        <div class="description">
          <h3 class="sub-title">Speaking</h3>
          <div class="text-box">
            <p class="text">
              Improve your English skills and confidence. Live classes and
              interactive lessons online. 20% extra free for a limited time only
            </p>
            <p class="text">
              Learn English online and improve your skills through our
              high-quality courses and resources – all designed for adult
              language learners.
            </p>
          </div>
          <button type="button" class="btn">Learn more</button>
        </div>
      </li>
      <li class="item">
        <picture>
          <source
            srcset="
              ./images/skills/typewriter.png    1x,
              ./images/skills/typewriter@2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/skills/typewriter.png    1x,
              ./images/skills/typewriter@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/skills/typewriter320.png    1x,
              ./images/skills/typewriter320@2x.png 2x
            "
          />
          <img
            src="./images/skills/typewriter320.png"
            alt="foto"
            class="image"
          />
        </picture>
        <div class="description">
          <h3 class="sub-title">Writing</h3>
          <div class="text-box">
            <p class="text">
              One of the most important and extensive areas of natural science,
              the science that studies substances, also their composition
            </p>
          </div>
          <button type="button" class="btn">Learn more</button>
        </div>
      </li>
      <li class="item">
        <picture>
          <source
            srcset="
              ./images/skills/bookshelves.png    1x,
              ./images/skills/bookshelves@2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/skills/bookshelves.png    1x,
              ./images/skills/bookshelves@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/skills/bookshelves320.png    1x,
              ./images/skills/bookshelves320@2x.png 2x
            "
          />
          <img
            src="./images/skills/bookshelves320.png"
            alt="foto"
            class="image"
          />
        </picture>
        <div class="description">
          <h3 class="sub-title">Reading</h3>
          <div class="text-box">
            <p class="text">
              perception and response actions of the user resulting from the use
              and or up coming use of the product, system or service
            </p>
          </div>
          <button type="button" class="btn">Learn more</button>
        </div>
      </li>
      <li class="item">
        <picture>
          <source
            srcset="
              ./images/skills/podcast.png    1x,
              ./images/skills/podcast@2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/skills/podcast768.png    1x,
              ./images/skills/podcast768@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/skills/podcast320.png    1x,
              ./images/skills/podcast320@2x.png 2x
            "
          />
          <img src="./images/skills/podcast320.png" alt="foto" class="image" />
        </picture>
        <div class="description">
          <h3 class="sub-title">Listening</h3>
          <div class="text-box">
            <p class="text">
              Here you can find activities to practise your listening skills.
              Listening will help you to improve your understanding
            </p>
          </div>
          <button type="button" class="btn">Learn more</button>
        </div>
      </li>
    </ul>
  </div>
</section>
