.header {
  position: relative;
  padding-top: 33px;
  padding-bottom: 33px;
  @media screen and (min-width: 768px) {
    padding-top: 55px;
    padding-bottom: 55px;
  }
  @media screen and (min-width: 1400px) {
    padding-top: 55px;
    padding-bottom: 55px;
  }
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-family: var(--base-font);
  font-weight: 400;
  font-size: 24px;
  color: #000;
  @media screen and (min-width: 575px) {
    font-size: 30px;
  }
  @media screen and (min-width: 575px) {
    font-size: 36px;
    letter-spacing: 0.03em;
  }
}

.grey-logo {
  color: #939393;
  @media screen and (min-width: 1400px) {
    color: var(--base-title-color);
  }
}

.burger-menu {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 33px;
  cursor: pointer;
  @media screen and (min-width: 1400px) {
    display: none;
  }
}

.line {
  width: 100%;
  height: 3px;
  border-radius: 1px;
  background-color: var(--menu-btn-color);
}

.close-btn {
  // display: none;
  cursor: pointer;
  fill: var(--menu-btn-color);
  @media screen and (min-width: 575px) {
    height: 20px;
    width: 20px;
  }
  @media screen and (min-width: 1400px) {
    display: none;
  }
}

.burger-menu .line:last-child {
  width: 70%;
}

.menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 320px;
  height: 100vh;
  outline: 1px solid red;
  background-color: #fff;
  padding: 0 15px 0 15px;
  // display: none;
  @media screen and (min-width: 575px) {
    // padding: 0 33px 0 33px;
  }
  @media screen and (min-width: 1400px) {
    position: relative;
    display: flex;
    flex-direction: row;
    // height: 100%;
    padding: 0;
    width: 996px;
    align-items: center;
    justify-content: space-between;
  }
}

.menu::before {
  content: '';
  width: 100%;
  height: 1px;
  background: #c4c4c4;
  @media screen and (min-width: 1400px) {
    display: none;
  }
}

.nav-menu {
  margin-top: 70px;
  margin-bottom: 90px;
  @media screen and (min-width: 575px) {
    margin-top: 60px;
    margin-bottom: 100px;
  }
  @media screen and (min-width: 1400px) {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

.menu-list {
  display: flex;
  flex-direction: column;
  gap: 50px;
  @media screen and (min-width: 1400px) {
    display: flex;
    flex-direction: row;
  }
}

.menu-item {
  font-weight: 500;
  font-size: 22px;
  @media screen and (min-width: 1400px) {
    font-size: 20px;
  }
}

.menu-item .link {
  color: #263238;
}

.menu .btn {
  border: 2px solid #263238;
  border-radius: 5px;
  width: 100%;
  height: 65px;
  font-weight: 400;
  font-size: 20px;
  color: #000;
  background-color: transparent;
  @media screen and (min-width: 575px) {
    width: 330px;
    height: 70px;
    font-size: 22px;
  }
  @media screen and (min-width: 1400px) {
    width: 312px;
    height: 70px;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.03em;
    text-align: center;
  }
}

.menu .head {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  padding-top: 32px;
}

.menu .head::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background: #c4c4c4;
  position: absolute;
  // left: 0;
  bottom: -32px;
  // @media screen and (min-width: 1400px) {
  //   display: none;
  // }
}
