.skills .title {
  font-size: 24px;
  color: var(--base-title-color);
  text-align: center;
  padding-top: 30px;
  margin-bottom: 64px;

  @media screen and (min-width: 768px) {
    font-weight: 600;
    font-size: 30px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 48px;
  }
}

.skills-list {
  display: flex;
  flex-direction: column;
  gap: 21px;
  align-items: center;
  @media screen and (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: start;
    gap: 10px;
  }
  @media screen and (min-width: 1200px) {
  }
}

.skills-list:first-child {
  flex-grow: 1;
}

.skills .item {
  padding: 8px 16px 8px 16px;
  border-radius: 5px;
  width: 100%;
  background: var(--base-gray);
  @media screen and (min-width: 768px) {
    padding: 31px 10px 31px 10px;
    width: 224px;
  }
  @media screen and (min-width: 1200px) {
    padding: 32px 18px 32px 18px;
    width: 426px;
  }
}

.skills .image {
  margin-bottom: 43px;
}

.skills .sub-title {
  font-weight: 600;
  font-size: 18px;
  color: var(--base-dark);

  @media screen and (min-width: 768px) {
    font-size: 20px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 30px;
  }
}

.skills .btn {
  border-radius: 5px;
  width: 178px;
  height: 50px;
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 45px;
  @media screen and (min-width: 768px) {
    width: 178px;
    height: 50px;
    font-size: 16px;
    margin-bottom: 45px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 20px;
    border-radius: 10px;
    width: 218px;
    height: 60px;
    margin-bottom: 45px;
  }
}

.text-box {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 18px;
  margin-bottom: 32px;
}

.skills .text {
  font-weight: 400;
  font-size: 13px;
  color: var(--base-text-color);

  @media screen and (min-width: 1200px) {
    font-size: 16px;
  }
}
